<!DOCTYPE html>
<html>
    <head>
        <title>Concurs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/style.css}"/>
    </head>
    <body>
        <h2 style="text-align: center;">Groups</h2>
          <div class="group" th:each="group: ${groups}">
            <h4><a th:href="@{/group/{id}(id=${group.getId()})}" th:text="${group.getName()}"></a></h4>
            <div class="students">
              <p th:each="student: ${group.getSortedStudentList()}"><a th:href="@{/student/{id}(id=${student.getId()})}"  th:text="${student.getName()}"></a></p>
            </div>
          </div>
    </body>
</html>
